@media screen and (min-width: 1200px) {
  .container {
    width: 1128px;
    /* padding: 0 15px; */
    margin: 0 auto;
  }
  .header > .container {
    width: 1128px;
  }

  .header {
    padding: 24px 0px;
  }

  .header-item {
    display: flex;
  }

  .contacts-link {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-left: auto;
  }
  .hero {
    padding: 188px 0px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-height: 600px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office2x.jpg);
    }
  }
  .advantages > .container {
    width: 1158px;
    padding: 0;
  }
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advantages-pages {
    margin-bottom: 8px;
    height: 112px;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .advantages-item {
    max-width: calc((100% - 74px) / 4);
  }
  .advantages-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .img-section {
    display: block;
    padding-bottom: 120px;
  }
  .list {
    display: flex;
  }
  .list .image + .image {
    margin-left: 24px;
  }
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .customers {
    padding: 120px 0px;
  }
  .customer-list {
    flex-wrap: nowrap;
    margin-top: 72px;
    gap: 24px;
  }
  .footer {
    padding: 100px 0px;
  }
  .footer-block {
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0px;
  }
  .social-media {
    margin-left: 120px;
    margin-right: 80px;
  }
  .main-section > .container {
    width: 1128px;
  }
  .main-section {
    padding-top: 96px;
    padding-bottom: 120px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .card-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
}
