/* .header {
    background-color: var(--nav-background-color);
    padding: 24px 0px;
    border-bottom: 1px solid #e7e9fc;
  }
  
  .header-item {
    display: flex;
  }
  .header-navigation {
    display: flex;
  } */
  