@media screen and (min-width: 768px) {
  .container {
    width: 582px;
    padding: 0 15px; 
 margin: 0 auto; 
  }
  .mobile-header {
    display: none;
  }
  .header > .container {
    width: 736px;
  }
  .header {
    
    display: block;
    background-color: var(--nav-background-color);
    padding: 24px 0px 6px 0px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-item {
    display: flex;
  }
  .header-navigation {
    display: flex;
  }
  .navigation-link {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-left: 76px;
  }
  .header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-color);
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-list.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--enable-btn-color);
    left: 0;
    bottom: -28px;
    border-radius: 2px;
  }
  .header-list.current {
    color: var(--enable-btn-color);
  }
  .header-list:hover,
  .header-list:focus {
    color: var(--enable-btn-color);
  }
  .contacts-link {
display: flex;
flex-direction: column;
    list-style: none;
    gap: 4px;
    margin-left: auto;
  }
  .header-contacts {
    text-decoration: none;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts:hover,
  .header-contacts:focus {
    color: var(--enable-btn-color);
  }
  .hero {
    padding-top: 111px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab.jpg);
    max-width: 100%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tab2x.jpg);
    }
  }
  .hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
  .advantages{
    padding: 96px 0px;
  }
  .advantages > .container {
    width: 735px;
  }
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-title {
    text-align: left;
  }
  .team-section{
    padding: 96px 0px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .customers{
    padding: 96px 0px;
  }
  .customer-list {
    row-gap: 64px;
    column-gap: 24px;
  }
  .customer-logo {
    width: calc((100% - 48px) / 3);
  }
  .modal {
    width: 408px;
  }
  .social-media{
    margin-top: 0px;
  }
  .footer{
    padding: 96px 0px;
  }
  .footer-subscribe{
    margin-top: 0px;
  }
  .footer-form input{
    margin-bottom: 0px;
  }
  .footer-block {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .footer-logo-text {
    text-align: left;
  }
  .footer-title {
    margin-top: 0px;
  }
  .footer-subscribe {
    text-align: left;
  }
  .footer-form {
    display: flex;
  }
  .footer-form > input {
    width: 264px;
    margin-right: 24px;
  }
  .social-media{
    text-align: left;
  }
  .button {
    max-height: 40px;
  }
  .main-section > .container {
    width: 736px;
  }
  .button-list {
    justify-content: center;
  }
  .card-list {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .project-card {
    margin-top: 0px;
    flex-basis: 356px;
  }
}
